@layer reset, base, ui, tokens, recipes, utilities;

@import url(@readable/ui/styles.css) layer(ui);

html {
  scroll-margin-top: 101px; /* 헤더 높이 + 37px */
}

/* for accessibility */
[role='button']:focus-visible,
a:focus-visible,
button:focus-visible,
input[type='checkbox']:focus-visible,
input[type='radio']:focus-visible {
  outline: revert;
  outline-offset: -2px;
  box-shadow: none;
}
