.ProseMirror {
  line-height: 1.6;

  & > * + * {
    margin-top: 4px;
  }

  &[contenteditable='true'] {
    & [data-drag-handle] {
      cursor: grab;
    }
  }
}

.ProseMirror-hideselection {
  caret-color: transparent;

  & *::selection {
    display: none;
  }
}
