.ProseMirror {
  /* & [data-drag-handle] {
    cursor: grab;
  } */

  line-height: 1.6;

  & > * + * {
    margin-top: 2px;
  }
}

.ProseMirror-hideselection {
  caret-color: transparent;

  & *::selection {
    background-color: transparent;
  }
}
